<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- <div th:if="${param.caution}" >
	更新が完了しました。
</div>
<h2 th:text="${caution}"></h2> -->

<!-- <form method="post" action="#" th:action="@{/user/entrance}" th:object="${userForm}">
	<input id="userName" name="userName" type="text" th:value="*{userName}"><br>
	<input id="password" name="password" type="password" th:value="*{password}"><br>
	<input type="submit" value="LogIn">
</form>
<form method="post" action="#" th:action="@{/user/index}">
	<input type="submit" value="back">
</form> -->


		<div class="login-box">
            <h1>Login</h1>  
            <div th:if="${param.caution}" >
				更新が完了しました。
			</div>
			<h2 th:text="${caution}"></h2>
            
			<form method="post" action="#" th:action="@{/user/entrance}" th:object="${userForm}">
	            <div class="textbox">
	                <i class="fa fa-user"></i>
	                <input id="userName" type="text" placeholder="userName" name="userName" th:value="*{userName}">
	            </div>
	
	            <div class="textbox">
	                <i class="fa fa-lock"></i>
	                <input id="password" type="password" placeholder="password" name="password" th:value="*{password}">
	            </div>
	            
	            <input class="btn" type="submit" name="" value="Log in">
            </form>
            
            <form method="post" action="#" th:action="@{/user/index}">
				<input class="btn" type="submit" value="back">
			</form>
        </div>


</body>
</html>