<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{block/header::headerA}"></div>
<h1 class="text-white" th:text="${title}">title</h1>	
<h2 id="welcome" class="text-white">おかえりなさい</h2>
<div id="name" th:text="${userForm.userName}" style=display:none;></div>
<script>
document.getElementById("welcome").innerHTML = 
	document.getElementById("name").innerHTML+"さん"+document.getElementById("welcome").innerHTML
</script>

<div class="card text-black bg-secondary mb-3 d-inline-block" style="max-width: 25rem;">
  <h1 class="card-header text-white">Block Game</h1>
  <div class="card-body">
	<form method="post" action="#" th:action="@{/user/game}">
		<input type="hidden" name="userName" th:value="${userForm.userName}">
		<input class="btn" type="submit" value="Game Start">
	</form>
	<form method="post" action="#" th:action="@{/user/ranking}">
		<input type="hidden" name="userName" th:value="${userForm.userName}">
		<input class="btn" type="submit" value="Show Ranking">
	</form>
	<form method="post" action="#" th:action="@{/user/delete}">
		<input type="hidden" name="userName" th:value="${userForm.userName}">
		<input type="submit" class="btn btn-secondary" value="Delete Account">
	</form>
  </div>
</div>
<div th:replace="~{block/footer::footerA}"></div>
</body>
</html>