<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">title</h1>
<div th:if="${param.complete}" >
	更新が完了しました。
</div>
<h2 th:text="${complete}"></h2>	
<form method="post" action="#" th:action="@{/user/logInForm}">
	<input type="submit" value="LogIn">
</form>
<form method="post" action="#" th:action="@{/user/create}">
	<input type="submit" value="Create Account">
</form>
</body>
</html>