<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerA" class="fixed-bottom">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id = "developer" href="#">Co-developer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" >HASHIMOTO<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >YOSHIMURA</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >TOMITA</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >MATSUE</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >OHARA</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >NAGASAWA</a>
      </li>
      
    </ul>
  </div>
</nav>
</footer>

</html>